{% extends 'qa/base.html' %}
{% block title %}{{ block.super }}Главная{% endblock %}
{% block content %}
{% for question in questions %}
    <div class="well well-lg">
    <h3>{{ question.author.username }}</h3>
    <a href="{{ question.get_absolute_url }}">{{ question.title }}</a>
    </div>
{% endfor %}
    {% if is_paginated %}
<ul class="pager">
    {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}
    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
    {% endif %}
{% endblock %}